<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity
            android:name=".activity.CourseActivity"
            android:exported="true" />
        <activity
            android:name=".activity.GroupFlashcardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.FlashcardInfomationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.FLashcardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ExploreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PointResultActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RecordQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoadingTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseFieldsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GrammarPickManyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ListeningQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.GrammarPick1QuestionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SetUpAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConfirmCode2Activity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoadPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewPassActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ConfirmCodeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Intro2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPassWordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SelectActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".ui.login.LoginActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_login" /> -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>